@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wallet Web</h1>
    <p class="lead">Aplicación Wallet Web para la gestión de una billetera virtual</p>
</div>

<div class="row">
    <div>
        Jeimy Ortiz - COD: 20182099016
        <br />
        William Pinilla - COD: 20182099019
    </div>
</div>