<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WalletConnectionString" connectionString="Data Source=SISTEMAS03\SQLEXPRESS;Initial Catalog=WALLET;Integrated Security=False; user=sa; pwd=#1sarc0#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>